/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/AdvancedCalculator/nbproject/private/
/AdvancedCalculator/build/
/AdvancedCalculator/dist/
/Blocks/nbproject/private/
/Blocks/build/
/Blocks/dist/
/ConnectedSilders/nbproject/private/
/ConnectedSilders/build/
/NewGenPOS/nbproject/private/
/NewGenPOS/build/
/OrderForm/nbproject/private/
/OrderForm/build/
/NewGenPOS/dist/
/Counter/nbproject/private/
/Counter/build/
/Counter/dist/